---
layout: default
title: Forrest Ameling
---

    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1>My Portfolio</h1>
              <p>"Vision is the art of seeing what is invisible to others." --Johnathan Swift</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include home-skills.html %}
{% include home-education.html %}
