<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>Coding is creating, and creating is what I live for.</p>
          </div>
          <p>
            Hello! I'm Forrest, and I am an Engineering Manager with a passion for building and leading high-performing
            teams.
            With a strong technical background and expertise in various development tools and methodologies, I strive to
            create a
            collaborative and inclusive environment where team members can thrive.
          <p>
            Throughout my career, I have honed my skills in SQL, T-SQL, SSRS, SSIS, SSMS, JavaScript, CSS, HTML, C#, and
            Python,
            among others. I am familiar with Cleo Clarify, GoAnywhere, and have worked extensively with EDI development.
            Additionally, I am experienced in inbound and outbound ETL development, as well as
            working with FTP, SFTP, FTPS, AS2, and APIs. I am well-versed in version control systems like GIT and SVN,
            and I am
            currently pursuing an Azure certificate.
          </p>
          <p>
            As an Engineering Manager, I thrive in Agile and Scrum environments, utilizing tools like Jira for issue
            tracking and
            project management. I have a proven track record of providing team leadership and mentoring, ensuring that
            individuals
            are supported and developed to their full potential. Customer satisfaction is always a priority for me, and
            I
            continuously seek to improve processes to ensure predictable delivery and exceed client expectations.
          </p>
          <p>
            In my most recent role as a Delivery Development Manager at Century Distribution Systems, I managed
            front-end and
            back-end development teams before a company restructuring. Currently, I oversee the back-end development
            team and the
            back-end support team, focusing on creating a cohesive and motivated environment. I prioritize effective
            communication, promptly addressing concerns and taking action to ensure needs
            are met. By consistently delivering high-quality processes, I earn the trust and respect of customers,
            stakeholders, and
            management alike. I am highly resourceful in anticipating and meeting needs, proactively identifying
            challenges, and
            developing solutions. I establish positive and productive relationships by setting clear expectations and
            fostering
            mutual accountability. I believe in effective communication and goal alignment to drive shared objectives.
          </p>
          <p>

            As a backend manager and engineer, I am skilled in developing, testing, troubleshooting, and deploying
            applications into
            production environments. I have experience working with modern web technologies such as JSON, HTML,
            JavaScript, and CSS.
            My proficiency in relational database systems, allows me to efficiently handle data integration and
            synchronization with
            third-party APIs.
          </p>
          <p>
            Thriving in dynamic environments, I embrace change and integrate new information and skills into my work.
            Collaboration
            and knowledge sharing are integral to my work style. I contribute to the collective expertise of the team
            while
            continuously learning and growing. I maintain an empathetic and proactive mindset, striving to deliver
            exceptional
            solutions and promptly address concerns.
          </p>
          <p>
            Lastly I enjoy injecting humor into the workplace:
          </p>
          <p>
            Why did the SQL query go to therapy?
          </p>
          <p>
            Because it had too many inner joins and couldn't find its identity!
          </p>
          <p>
            Thank you for taking the time to learn more about me. I look forward to connecting and exploring potential
            opportunities
            together.</p>

        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img class="img-circle" src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>