<div class="footer-manu">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <ul class="social-icons">

    <li>
      <a href="https://www.linkedin.com/in/forrest-ameling-739b92b4?trk=nav_responsive_tab_profile" target="blank"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="https://github.com/U1tron" target="blank"><i class="fa fa-github"></i></a>
    </li>
    <li>
      <a href="https://www.freecodecamp.com/u1tron" target="blank"><i class="fa fa-free-code-camp"></i></a>
    </li>
    <li>
      <a href="https://www.codecademy.com/U1tron" target="blank"><i class="fa fa-code"></i></a>
    </li>
    <li>
      <a href="https://codepen.io/u1tron/" target="blank"><i class="fa fa-codepen"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/Fameling" target="blank"><i class="fa fa-twitter"></i></a>
    </li>

  </ul>

</div>
