<!-- skills Start -->
<section id="skills">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-compass"></i>
          <h4>Leadership</h4>
          <p>Went from Developer 1 on Support to Managing the Backend Developmetn team and Support Team in just under 4
            years.</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-desktop"></i>
          <h4>Web Design</h4>
          <p>Managed the Frontend team for about 8 months before restructuring. .Net company so a lot of C#, Angular 2,
            and TypeScript. I also work on websites in my sparetime.</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-code"></i>
          <h4>JavaScript</h4>
          <p>Including JSON and JQUERY</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-html5"></i>
          <h4>HTML5</h4>
          <p>Including markdown</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-css3"></i>
          <h4>CSS3</h4>
          <p>SASS SCSS and Bootstrap</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-code"></i>
          <h4>Python</h4>
          <p>Familiarity with Python 3. Made a BOT in Python to get myself a 3070 during the GPU nightmare. </p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-database"></i>
          <h4>SQL</h4>
          <p>SSMS, SSIS, SSRS, this is my strongest language and one I work in everyday.</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-code"></i>
          <h4>C#</h4>
          <p>Taken some cources. I have not directly developed in C# but have read a lot of C# and managed the frontend
            development team at Century for about 8 months.</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-linux"></i>
          <h4>Linux</h4>
          <p>Personal Use of Linux</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-file-excel-o"></i>
          <h4>Microsoft Suite</h4>
          <p>Word, Excel, PowerPoint, Access, Teams, SharPoint, ETC</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-window-maximize"></i>
          <h4>Jekyll</h4>
          <p>Built this entire site using Jekyll</p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-3">
        <div class="skills-item">
          <i class="fa fa-windows"></i>
          <h4>Winows</h4>
          <p>Grew up on Windows and use windows 10 as my secondary OS</p>
        </div>
      </div>
    </div>
  </div>
</section>