<section id="learn">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-title-learn">
          <h2>Education</h2>
        </div>
        <div class="learn-item">
          <h4>Christopher Newport University</h4>
          <p>Bachelor of Science in Cell and Molecular Biology</p>
          <p>Minor in Leadership Studies</p>
          <p>Undergraduate GPA: 3.27</p>
          <p>Member of Beta Beta Beta Biological Honor Society</p>
          <p>Member of Phi Sigma Tao Philosophical Honor Society</p>
          <p>Member of the Presidents Leadership Program</p>
          <p>Engage Service Distinction</p> 
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section-title-learn">
          <h2>Certificates</h2>
        </div>
        <div class="learn-item">
          <h4>Free Code Camp</h4>
          <p>Front End Development Certification</p>
          <h4>Udemy Course Certificates</h4>
          <p>Learn C++ From Scratch: A Complete C++ Course</p>
          <p>Complete Python Bootcamp</p>
          <p>The Complete SQL Bootcamp</p>
          <h4>CodeCademy Course Certificates</h4>
          <p>Learn HTML and CSS</p>
          <p>Learn JavaScript</p>
          <p>Learn Sass</p>
          <p>Learn the Command Line</p>
          <p>jQuery</p>
          <p>Learn Git</p>
        </div>
      </div>
    </div>
  </div>
</section>
