<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">

      <!--Project 1-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Simon Game' src='//codepen.io/u1tron/embed/preview/ZeYXgQ/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/u1tron/pen/ZeYXgQ/'>Simon Game</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

      <!--Project 2-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Tic Tac Toe' src='//codepen.io/u1tron/embed/preview/XpvdyV/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/u1tron/pen/XpvdyV/'>Tic Tac Toe</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

    </div>
    <div class="row">

      <!--Project 3-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Pomodoro Clock' src='//codepen.io/u1tron/embed/preview/BpvrNM/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/BpvrNM/'>Pomodoro Clock</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>


      <!--Project 4-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='JavaScript Calculator' src='//codepen.io/u1tron/embed/preview/jyxorB/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/jyxorB/'>JavaScript Calculator</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

    </div>
    <div class="row">

      <!--Project 5-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Twitch' src='//codepen.io/u1tron/embed/preview/qqKwXB/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/qqKwXB/'>Twitch</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

      <!--Project 6-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Random Quote Machine' src='//codepen.io/u1tron/embed/preview/MbpadP/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/MbpadP/'>Random Quote Machine</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

    </div>
    <div class="row">


      <!--Project 7-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Wikipedia Viewer ' src='//codepen.io/u1tron/embed/preview/YpVQrb/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/YpVQrb/'>Wikipedia Viewer </a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

      <!--Project 8-->
      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Weather App' src='//codepen.io/u1tron/embed/preview/jVBeRq/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/u1tron/pen/jVBeRq/'>Weather App</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

    </div>
    <div class="row">

      <!--Project 9-->
      <div class="col-sm-6">
      <iframe height='265' scrolling='no' title='Portfolio Page' src='//codepen.io/u1tron/embed/preview/JbXXzX/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/u1tron/pen/JbXXzX/'>Portfolio Page</a> by Forrest Ameling (<a href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe><br><br><br>
      </div>

    </div>

  </div>
</section>
