<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <H1>Games!</H1>
      <!--Project 1-->
      <div class="col-sm-6">
        <h2>Simon</h2>
        <iframe height='265' scrolling='no' title='Simon Game'
          src='//codepen.io/u1tron/embed/preview/ZeYXgQ/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='http://codepen.io/u1tron/pen/ZeYXgQ/'>Simon Game</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

      <!--Project 2-->
      <div class="col-sm-6">
        <h2>Tic-Tac-Toe. Play against a computer!</h2>
        <iframe height='265' scrolling='no' title='Tic Tac Toe'
          src='//codepen.io/u1tron/embed/preview/XpvdyV/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='http://codepen.io/u1tron/pen/XpvdyV/'>Tic Tac Toe</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

    </div>
    <div class="row">
      <H1>Calculations!</H1>
      <!--Project 3-->
      <div class="col-sm-6">
        <h2>Pomodoro Clock</h2>
        <iframe height='265' scrolling='no' title='Pomodoro Clock'
          src='//codepen.io/u1tron/embed/preview/BpvrNM/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/BpvrNM/'>Pomodoro Clock</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>


      <!--Project 4-->
      <div class="col-sm-6">
        <h2>Calculator</h2>
        <iframe height='265' scrolling='no' title='JavaScript Calculator'
          src='//codepen.io/u1tron/embed/preview/jyxorB/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/jyxorB/'>JavaScript Calculator</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

    </div>
    <div class="row">

      <H1>APIs</H1>
      <!--Project 7-->
      <div class="col-sm-6">
        <h2>API Project: Wikipedia</h2>
        <iframe height='265' scrolling='no' title='Wikipedia Viewer '
          src='//codepen.io/u1tron/embed/preview/YpVQrb/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/YpVQrb/'>Wikipedia Viewer </a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

      <!--Project 8-->
      <div class="col-sm-6">
        <h2>API Project: Local Weather</h2>
        <iframe height='265' scrolling='no' title='Weather App'
          src='//codepen.io/u1tron/embed/preview/jVBeRq/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/jVBeRq/'>Weather App</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

    </div>

    <div class="row">

      <H1>Python</H1>
      <!--Project 7-->
      <div class="col-sm-12">
        <h2>Python Bot</h2>
        <iframe height='265' scrolling='no' title='Python Bot'
          src='https://raw.githubusercontent.com/ForrestAmeling/BesbuyGpuBot/main/bestbuy.py' frameborder='no'
          allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/YpVQrb/'>Bestbuy Bot</a> by Forrest Ameling (<a
            href='https://github.com/ForrestAmeling'>ForrestAmeling</a>) on <a href='https://github.com'>CodePen</a>.
        </iframe><br><br><br>
      </div>


      <!--Project 8
          <div class="col-sm-6">
            <h2>API Project: Local Weather</h2>
            <iframe height='265' scrolling='no' title='Weather App'
              src='//codepen.io/u1tron/embed/preview/jVBeRq/?height=265&theme-id=0&default-tab=result&embed-version=2'
              frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/u1tron/pen/jVBeRq/'>Weather App</a> by Forrest Ameling (<a
                href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe><br><br><br>
          </div>
          -->

    </div>


    <!--
    <div class="row">


      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Portfolio Page'
          src='//codepen.io/u1tron/embed/preview/JbXXzX/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='http://codepen.io/u1tron/pen/JbXXzX/'>Portfolio Page</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

      <div class="col-sm-6">
        <h2>API Project: Twitch</h2>
        <iframe height='265' scrolling='no' title='Twitch'
          src='//codepen.io/u1tron/embed/preview/qqKwXB/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/qqKwXB/'>Twitch</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>


      <div class="col-sm-6">
        <iframe height='265' scrolling='no' title='Random Quote Machine'
          src='//codepen.io/u1tron/embed/preview/MbpadP/?height=265&theme-id=0&default-tab=result&embed-version=2'
          frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
            href='https://codepen.io/u1tron/pen/MbpadP/'>Random Quote Machine</a> by Forrest Ameling (<a
            href='http://codepen.io/u1tron'>@u1tron</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe><br><br><br>
      </div>

    </div>
    <div class="row">


    </div>
-->
  </div>
</section>